@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --seperator: #e7e7e7;
  --orange_seperator: rgb(216, 122, 14);
}

body, #root{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    position: sticky;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar a:active {
    text-decoration: underline;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: #818181;
  }

  .sidebar .closebtn:hover {
    color: #f1f1f1;
  }
  
  /* The button used to open the sidebar */
  .openbtn_side {
    height: 100%;
    font-size: 34px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    float: left;
  }
  
  .openbtn_side:hover {
    /* background-color: #444; */
    /* font-size: 28px; */
    /* padding: 8.5px 13.5px; */
    /* background-color: #575757; */
    border-radius: 10px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* Add a black background color to the top navigation */
.topnav {
    /* background-color: #444; */
    overflow: hidden;
    max-height: 70px;
    margin: 0px;
    padding: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav h2 {
    margin: 0;
    padding: 8.5px;
    color: black;
  }

  /* Button used to open the contact form - fixed at the bottom of the page */
  .openbtn_form {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form_add_todo {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    bottom: 5%;
    right: 5%;
    z-index: 9;
  }

/* Todo stuff */

.all_todos_container {
  display: grid;
  grid-template-areas: " a b ";
}

.todo_container {
  box-sizing: border-box;
  overflow: auto;
  min-height: 170px;
  margin: 30px auto;
  padding: 0px 30px 0px 0px;
  border-radius: 0px;
  /* background-color: #e7e7e7; */
  border-bottom: 2px solid #e7e7e7;
  width: 100%;
}

.button_add_todo {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 2px;
  border: none;
  font-size: 20px;
  color: grey;
  text-align: left;
  margin-bottom: 10px;
}

.button_add_todo:hover{
  cursor: pointer;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.icon_add_todo {
  float: left;
  color: grey;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 1px;
}

.todo_container h1 {
  padding-top: 0px;
  font-size: 35px;
  border-bottom: 3px solid var(--orange_seperator);
  width: fit-content;
}

.todo_item {
  display: grid;
  grid-template-areas:"c a b";
  grid-template-columns: 50px auto 50px;

  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 2px;
  background-color: #f3f3f3;
}

.todo_item_main {
  grid-area: a;
  overflow-wrap: anywhere;
}

.todo_item div {
  max-height: 85px;
}

.todo_item h3 {
  font-size: 20px;
  margin: 0px;
  padding-top: 10px;
}

.todo.is_done {
  text-decoration: line-through;
}

.todo_item_description {
  font-size: 15px;
  margin: 0;
  padding-bottom: 10px;
  overflow: hidden;
}

.todo_checkbox {
  grid-area: c;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 2px;
}

.todo_checkbox:hover {
  cursor: pointer;
}

.todo_del_btn_container {
  grid-area: b;
  offset-anchor: right;
  display: block;
  float: right;
}

.todo_del_btn {
  padding: 0px;
  padding-right: 5px;
  margin: 0px;
  font-size: 30px;
  cursor: pointer;
  float: right;
}

.todo_del_btn:hover {
  color: red;
}


/* !Form adding a todo */
.overlay, .add_todo_form_container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.add_todo_form_container {
  width: 60%;
  height: fit-content;
  min-height: 500px;
  max-height: 70%;
  top: 20%;
  left: 20%;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  z-index: 3;
  cursor: auto;
  display: none;
}

.add_todo_form_container h2, input, textarea{
  color: rgb(240, 240, 240);
  margin-left: 20px;
  font-size: 35px;
}

.add_todo_form_container h2 {
  margin-bottom: 20px;
  width: fit-content;
  border-bottom: 3px solid var(--orange_seperator);
}

.add_todo_form_container input, textarea {
  background-color: rgb(30,30,30);
  width: 90%;
  font-size: 20px;
  height: 30px;
  padding-left: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(240, 240, 240);
  transition: 0.4s ease-in-out;
  resize: none;
}

.add_todo_form_container input:focus {
  border-bottom: 1px solid lightblue;
}

.add_todo_form_container textarea {
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  margin-top: 10px;
  min-height: 150px;
  font-size: 17px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 0px;
}

.add_todo_button_container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.add_todo_button {
  border-radius: 5px;
  height: 40px;
  width: 100px;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(240, 240, 240);
  color: rgb(240, 240, 240);
  margin: 5px;
  margin-bottom: 20px;
}

.add_todo_button.confirm {
  margin-right: 20px;
}

.add_todo_button.confirm:hover {
  border: 1px solid var(--orange_seperator);
  color: var(--orange_seperator)
}

.add_todo_button.cancel:hover {
  border: 1px solid red;
  color: red;
}