@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --orange_seperator: rgb(216, 122, 14);

  --background: #e9e9e9;
  --light_accent: #d3d3d3;
  --seperator: #bcbcbc;
  --text: #1d1d1d;
  --dark_accent: #606060;
}

.dark_mode{
  --background: #1d1d1d;
  --light_accent: #434343;
  --seperator: #6a6a6a;
  --text: #dedede;
  --dark_accent: #868686;
}

body, #root{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  background: var(--background);
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--light_accent); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    position: sticky;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    text-decoration: underline;
  }

  .sidebar a:active {
    text-decoration: underline;
  }
  
  /* The button used to open the sidebar */
  .openbtn_side {
    height: 100%;
    font-size: 34px;
    cursor: pointer;
    color: var(--text);
    padding: 10px 15px;
    border: none;
    float: left;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    max-height: 70px;
    margin: 0px;
    padding: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav h2 {
    margin: 0;
    padding: 8.5px;
    color: var(--text);
  }

.dark_mode_button {
  float: right;
  padding: 13px;
  font-size: 25px;
  width: 60px;
  color: var(--text);
  cursor: pointer;
}

/* Todo stuff */

.all_todos_container {
  display: grid;
  grid-template-areas: " a b ";
}

.todo_container {
  box-sizing: border-box;
  overflow: auto;
  min-height: 170px;
  margin: 30px auto;
  padding: 0px 30px 0px 0px;
  border-radius: 0px;
  border-bottom: 2px solid var(--seperator);
  width: 100%;
}

.button_add_todo {
  width: 100%;
  height: 50px;
  background-color: var(--background);
  border-radius: 2px;
  border: none;
  font-size: 20px;
  color: var(--dark_accent);
  text-align: left;
  margin-bottom: 10px;
}

.button_add_todo:hover{
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--light_accent);
}

.icon_add_todo {
  float: left;
  color: var(--dark_accent);
  font-size: 20px;
  margin-right: 10px;
  margin-top: 1px;
}

.todo_container h1 {
  padding-top: 0px;
  font-size: 35px;
  border-bottom: 3px solid var(--orange_seperator);
  width: fit-content;
  color: var(--text);
}

.todo_item {
  display: grid;
  grid-template-areas:"c a b";
  grid-template-columns: 50px auto 50px;

  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 5px;
  background-color: var(--background);
  border: 2px solid var(--seperator);
}

.todo_item_main {
  grid-area: a;
  overflow-wrap: anywhere;
}

.todo_item div {
  max-height: 85px;
}

.todo_item h3 {
  font-size: 20px;
  margin: 0px;
  padding-top: 10px;
  color: var(--text);
}

.todo.is_done {
  text-decoration: line-through;
}

.todo_item_description {
  font-size: 15px;
  margin: 0;
  padding-bottom: 10px;
  overflow: hidden;
  color: var(--text);
}

.todo_checkbox {
  grid-area: c;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 2px;
  color: var(--text);
}

.todo_checkbox:hover {
  cursor: pointer;
}

.todo_del_btn_container {
  grid-area: b;
  offset-anchor: right;
  display: block;
  float: right;
}

.todo_del_btn {
  padding: 0px;
  padding-right: 5px;
  margin: 0px;
  font-size: 30px;
  cursor: pointer;
  float: right;
  color: var(--text);
}

.todo_del_btn:hover {
  color: red;
}


/* !Form adding a todo */
.overlay, .add_todo_form_container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
}

.add_todo_form_container {
  width: 60%;
  height: fit-content;
  min-height: 500px;
  max-height: 70%;
  top: 20%;
  left: 20%;
  background-color: var(--background);
  border-radius: 20px;
  z-index: 3;
  cursor: auto;
  display: none;
}

.add_todo_form_container h2, input, textarea{
  color: var(--text);
  margin-left: 20px;
  font-size: 35px;
}

.add_todo_form_container h2 {
  margin-bottom: 20px;
  width: fit-content;
  border-bottom: 3px solid var(--orange_seperator);
}

.add_todo_form_container input, textarea {
  background-color: var(--background);
  width: 90%;
  font-size: 20px;
  height: 30px;
  padding-left: 5px;
  border: none;
  outline: none;
  /* border-bottom: 1px solid rgb(240, 240, 240); */
  border-bottom: 1px solid var(--dark_accent);
  transition: 0.4s ease-in-out;
  resize: none;
}

.add_todo_form_container input:focus {
  border-bottom: 1px solid lightblue;
}

.add_todo_form_container textarea {
  /* border: 1px solid rgb(240, 240, 240); */
  border: 1px solid var(--dark_accent);
  border-radius: 5px;
  margin-top: 10px;
  min-height: 150px;
  font-size: 17px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 0px;
}

.add_todo_button_container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.add_todo_button {
  border-radius: 5px;
  height: 40px;
  width: 100px;
  background-color: var(--background);
  border: 1px solid var(--dark_accent);
  color: var(--text);
  margin: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.add_todo_button.confirm {
  margin-right: 20px;
}

.add_todo_button.confirm:hover {
  border: 1px solid var(--orange_seperator);
  color: var(--orange_seperator)
}

.add_todo_button.cancel:hover {
  border: 1px solid red;
  color: red;
}